# Cheat Sheet

### To create a new empty pandas data frame with 2 columns:
   
```data = pandas.DataFrame(columns = ['column_name_1', 'column_name_2'])```

Example:

In [1]:
import pandas as pd
data = pd.DataFrame(columns = ['name', 'birth_date', 'height'])
print(data)

Empty DataFrame
Columns: [name, birth_date, height]
Index: []

---

### To add a row to a pandas dataframe:

```data = data.append({'column_name_1': column_value_1, 'column_name_2': column_value_2}, ignore_index=True)```

Example:

In [2]:
data = data.append({'name': 'John', 'birth_date': '1999-09-09', 'height': 63}, ignore_index=True)
data = data.append({'name': 'Julia', 'birth_date': '1984-11-12', 'height': 71}, ignore_index=True)
data = data.append({'name': 'Jack', 'birth_date': '1973-03-12', 'height': 69}, ignore_index=True)
data = data.append({'name': 'Jack', 'birth_date': '2001-12-23', 'height': 73}, ignore_index=True)
print(data)

    name  birth_date height
0   John  1999-09-09     63
1  Julia  1984-11-12     71
2   Jack  1973-03-12     69
3   Jack  2001-12-23     73

---

### To get unique values from a column in Pandas dataframe (`data`):

```unique_values = data['column_name'].unique()```

Example:

In [3]:
unique_names = data['name'].unique()
print(unique_names)

['John' 'Julia' 'Jack']

---

### To sort a pandas dataframe (`data`) by a one or more columns:

```sorted_data = data['column_name'].sort_values(by=['column_name_1', 'column_name_2'], ascending=False)```

Example:

In [4]:
sorted_data = data.sort_values(by=['name', 'height'], ascending=True)
print(sorted_data)

    name  birth_date height
2   Jack  1973-03-12     69
3   Jack  2001-12-23     73
0   John  1999-09-09     63
1  Julia  1984-11-12     71

In [5]:
sorted_data = data.sort_values(by=['name', 'height'], ascending=False)
print(sorted_data)

    name  birth_date height
1  Julia  1984-11-12     71
0   John  1999-09-09     63
3   Jack  2001-12-23     73
2   Jack  1973-03-12     69

---

### To get the month from a date column in a pandas dataframe:

```data['new_column_name'] = pandas.to_datetime(data['date_column_name']).dt.month```

Example:

In [6]:
data['birth_month'] = pd.to_datetime(data['birth_date']).dt.month
print(data)

    name  birth_date height  birth_month
0   John  1999-09-09     63            9
1  Julia  1984-11-12     71           11
2   Jack  1973-03-12     69            3
3   Jack  2001-12-23     73           12

---

### To round a floating point number (`num`) to `n` digits after the decimal point:

```rounded_num = round(num, n)```

Example:

In [7]:
rounded_num = round(23.45198, 2)
print(rounded_num)

23.45

---

### To create lowercased string from the given string (`string`):

```lowercased_name = string.lower()```

Example:

In [8]:
string = 'Python Data Analysis Workshop'
lowercased_name = string.lower()
print(lowercased_name)

python data analysis workshop

---

### To create lowercased string from the given string (`string`):

```lowercased_name = string.upper()```

Example:

In [9]:
string = 'Python Data Analysis Workshop'
luppercased_name = string.upper()
print(luppercased_name)

PYTHON DATA ANALYSIS WORKSHOP