In [1]:
#string

In [2]:
name = "Lola"

In [3]:
name

'Lola'

In [4]:
type(name)

str

In [5]:
name[0]

'L'

In [6]:
name[1]

'o'

In [7]:
name[1:3]

'ol'

In [8]:
greeting = "Hello"

In [9]:
message = greeting + name

In [10]:
message

'HelloLola'

In [11]:
message = greeting + " " + name + "!"

In [12]:
message

'Hello Lola!'

---

In [13]:
#integer

In [14]:
age = 22

In [15]:
age

22

In [16]:
type(age)

int

In [17]:
age + 5

27

---

In [18]:
#float

In [19]:
balance = 500.55

In [20]:
balance

500.55

In [21]:
type(balance)

float

In [22]:
new_transaction = 32.45

In [23]:
current_balance = balance - new_transaction

In [24]:
current_balance

468.1

---

In [25]:
#boolean

In [26]:
laptop_price = 1099.99

In [27]:
has_balance = current_balance > laptop_price

In [28]:
has_balance

False

In [29]:
type(has_balance)

bool

In [30]:
tablet_price = 399.99

In [31]:
has_balance = current_balance > tablet_price

In [32]:
has_balance

True

---

In [33]:
#list

In [34]:
currencies = ["CAD", "USD", "EUR", "GBP"]

In [35]:
currencies

['CAD', 'USD', 'EUR', 'GBP']

In [36]:
type(currencies)

list

In [37]:
currencies[1]

'USD'

In [38]:
currencies[0:2]

['CAD', 'USD']

In [39]:
currencies[0] = "YEN"

In [40]:
currencies

['YEN', 'USD', 'EUR', 'GBP']

In [41]:
list1 = ["CAD", 1.2, True, 500]

In [42]:
list1

['CAD', 1.2, True, 500]

In [43]:
type(list1)

list

In [44]:
list1[3]

500

---

In [52]:
#Dictionary

In [53]:
conversion_rates = {"USD": 0.74, "EUR": 0.67, "CNY":  5.14}

In [54]:
conversion_rates

{'USD': 0.74, 'EUR': 0.67, 'CNY': 5.14}

In [55]:
type(conversion_rates)

dict

In [56]:
conversion_rates["USD"]

0.74

In [57]:
conversion_rates["USD"] = 0.82

In [58]:
conversion_rates

{'USD': 0.82, 'EUR': 0.67, 'CNY': 5.14}